body{
    margin: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e4b5cb;
    background-image: linear-gradient(315deg, #e4b5cb 0%, #722ae6 74%);
    color: white;
}

/* THE NAV-BAR */

.nav{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid white;
}
.nav h1{
    text-transform: uppercase;
}

.nav input{
    width: 20%;
    height: 45px;
    padding: 0 15px;
    border-radius: 50px;
    border: 0;
    outline: 0;
    text-transform:capitalize;
}
.list{
    display: flex;
    list-style: none;
}
.list li{
    margin: 0 40px;
}
.list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* END NAV-BAR */

/* THE BANNER */
.banner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* END THE BANNER */

/* START CARDS */
.card{
    position: relative;
    width: 450px;
    height: 400px;
    overflow: hidden;
    background: rgba( 144, 19, 254, 0.2 );
    backdrop-filter: blur( 3.5px );
    border-radius: 10%;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    -webkit-backdrop-filter: blur( 3.5px );
    transition: 0.3s;
    margin: 0px 20px;
}
.card:hover{
    width: 750px;
    border-radius: 10px;
}
.card img{
    position: absolute;
    width: 400px;
    height: 350px;
    top: 5%;
    left: 5%;
    bottom: 0;
    object-fit: cover;
    transition: 0.5s;
}
.card:hover img{
    left: -5%;
}

/* END THE CARDS */

/* ================================================================================== */

    /* Removed animations due to the fact that the site Freezes !!! */

    /* animation-name: cards;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; */

 /* ================================================================================== */


 /* START CARDS CONTENT */
.card .content{
    position: absolute;
    width: 300px;
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 0%;
    opacity: 0;
    visibility: 0;
    transition: 0.5s;
}

.card:hover .content{
    opacity: 1;
    visibility: 1;
}

.card .content h1{
    margin-bottom: 0;
}
.card .content p{
    font-size: 18px;
    line-height: 1.6em;
}
/* END THE CARDS CONTENT */

/* BURGER MENU ICON */
.burger{
    display: none;
}

                            /* MEDIA PART */

@media (max-width:1476px) {
    .banner{
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .card{
        margin: 30px 10px;
    }
}

@media (max-width:854px) {
    .nav{
        height: 70px;
    }
    .nav input{
        width: 50%;
    }
    .list{
        display: none;
    }
    .burger{
        display: block;
        color: white;
        font-size: 30px;
    }
}

 @media screen and (max-width:610px) {
     .card{
        max-width: 450px;
     }
     .card:hover{
        height: 600px;
     }
     .card:hover img{
        top: -10%;
        left: 5%;
     }
     .card:hover .content{
        top: 20%;
        left: 15%;
     }

    
}

@media screen and (max-width:440px){
    .card:hover .content{
        left: 10%;
    }
}

@media screen and (max-width:375px) {
    .nav input{
        display: none;
    }
    .nav{
        width: 90%;
        padding: 0 5%;
        justify-content: space-between;
    }
    .burger{
        font-size: 28px;
    }
    .banner{
        width: 90%;
        padding: 0 5%;
    }
    .card img{
        left: -5%;
    }
    .card:hover img{
        left: -5%;
    }
    .card:hover .content {
        left: 0;
    }
}